body {
    background-color: #1e1e1e;
    overflow: hidden; /*Später vllt wegmachen*/
    margin: 0;
    padding: 0;
}

#nav {
    height: 8vh;
    background-image: linear-gradient(hsl(25, 100%, 50%), hsl(335, 100%, 50%));;
}

#content {
    height: 92vh;
    width: 100vw;
}

#form {
    height: 75vh;
    width: 60vh;
    transform: translate(-50%, -50%);
    margin-top: 46vh;
    margin-left: 50vw;

    background-color: #fff;
    border-radius: 2vh;
}

.input {
    height: 26px;
    width: 40vh;
    margin: 2vh;
}

button {
    height: 8vh;
    width: 50vh;
    margin: 2vh;

    font-size: 24px;
    border: none;
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 4vh;
}

button:hover {
    background-image: linear-gradient(hsl(25, 100%, 50%), hsl(335, 100%, 50%));
}

button:active {
    animation: buttonActive 100ms both;
}

@keyframes buttonActive {
    0% {scale: 100%;}
    100% {scale: 95%;}
}

