body {
    background-color: #ff0069;
}
.card{
    position: absolute;
    image-rendering: pixelated;
    height: calc(37px * 5);
    width: calc(27px * 5);
    transform: translate(50px, 300px);   
}