body {
    background-color: #012c0b;
}

.card {
    image-rendering: pixelated;
    /*position: absolute;*/
    right: 20%;
}

.cardBg {
    
}
.cards
{
    
}

.cardImg {
    position: absolute;
    width: 25%;
    height: auto;
}

#card2 {
    position: absolute;
}