.gradient-font {
    font-size: 70px;
    background-image: linear-gradient(90deg,rgba(40, 61, 59, 1) 0%, rgba(25, 114, 120, 1) 25%, rgba(149, 186, 106, 1) 50%, rgba(196, 69, 54, 1) 75%, rgba(119, 46, 37, 1) 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.title {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}


.text {
    font-family: "Special Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}