body {
    background-color: #012c0b;
}
.Card{
    rotate: 0deg;
}
.CardImage{
    width: 25%;
    height: auto;
}
#C0{
    position: fixed;
    bottom:5%;
    right: 42%;
    rotate: -10deg;
}
#C1{
    position: fixed;
    bottom:5%;
    right: 30%;
    rotate: 10deg;
}
